In [49]:
'''**Exercise 4: Sum of Even Numbers**
- Task: Write a program that calculates the sum of all even numbers between 1 and 100 using a for loop.
- Hint: Use the range() function with a step value of 2 to iterate through even numbers.'''

print('Even numbers from 1 to 100 - ')
sumEven=0
for i in range(0,101):
    if i % 2 ==0:
        print(i,end=' ')
        sumEven+=i
print('\nSum of even numbers from 1 to 100 is : ',sumEven)

Even numbers from 1 to 100 -
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
Sum of even numbers from 1 to 100 is :  2550

In [51]:
#Exercise 2 Multiple for Loops
'''
 Write a program that outputs the multiplication tables from 1 to 5.
- Use nested for loops to iterate over both the multiplier and the multiplicand.
'''
num1 = int(input('Enter lower limit : '))
num2 = int(input('Enter upper limit : '))
print("---------------------")
for x in range(num1,num2+1):
    for y in range(1,11):
        print(x," X ",y," = ",x*y)
    print("---------------------")

Enter lower limit :  1
Enter upper limit :  5

---------------------
1  X  1  =  1
1  X  2  =  2
1  X  3  =  3
1  X  4  =  4
1  X  5  =  5
1  X  6  =  6
1  X  7  =  7
1  X  8  =  8
1  X  9  =  9
1  X  10  =  10
---------------------
2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18
2  X  10  =  20
---------------------
3  X  1  =  3
3  X  2  =  6
3  X  3  =  9
3  X  4  =  12
3  X  5  =  15
3  X  6  =  18
3  X  7  =  21
3  X  8  =  24
3  X  9  =  27
3  X  10  =  30
---------------------
4  X  1  =  4
4  X  2  =  8
4  X  3  =  12
4  X  4  =  16
4  X  5  =  20
4  X  6  =  24
4  X  7  =  28
4  X  8  =  32
4  X  9  =  36
4  X  10  =  40
---------------------
5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
5  X  7  =  35
5  X  8  =  40
5  X  9  =  45
5  X  10  =  50
---------------------

In [11]:
#printing table using while loop
num = 2
i=1
while(i!=11):
    print(num , " X ", i ," = ",num*i)
    i+=1

2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18
2  X  10  =  20

In [31]:
'''
**Exercise 1: Branching with Nested if**
- Create a program that simulates a simple traffic light system.
- Input a color (red, yellow, or green) and output whether cars should "stop", "slow down", or "go".
- Extend this by adding another if to check if there are pedestrians present. If yes, even for green light, cars should "wait".
'''


color=input('Enter the signal colour(RED/YELLOW/GREEN) : ')
isPedestrianPresent = ''

#while loop to ensure user enters only Y or N value which should be case insensitive
while True:
    isPedestrianPresent = input('Enter if Pedestrian is present(Y/N)')
    if isPedestrianPresent.upper() == 'Y' or isPedestrianPresent.upper()=='N':
        break;
    else:
        print('Invalid input , Please enter Y or N only')

#make the signal color case-insensitive 
if color.upper() == 'RED':
    print('stop')
elif color.upper() == 'YELLOW':
    print('slow down')
elif color.upper() =='GREEN':
    if isPedestrianPresent == 'Y':
        print('wait')
    else:
        print('go')
else:
    print('INVALID signal color !')

Enter the signal colour(RED/YELLOW/GREEN) :  green
Enter if Pedestrian is present(Y/N) n

go

In [5]:
'''Exercise 3: Grade Classification**
- Task: Prompt the user to enter a grade (out of 100). Use if-elif-else statements to classify the grade into A, B, C, or Fail.
- Hint: Use branching to evaluate the grade range and print the corresponding result.'''


#conditions -> above 75 : A , 60-75 -B, 35-60 -C , else fail

marks = int(input("Enter marks out of 100 : "))

if marks >=75:
    print('A Grade')
elif marks >=60 and marks<75:
    print('B Grade')
elif marks >=35 and marks<60:
    print('C Grade')
else:
    print('Fail')

Enter marks out of 100 :  30

Fail

In [9]:
'''
**Exercise 5: Bank Withdrawal Simulation**
- Task: Simulate a simple ATM withdrawal system using a while loop. The user starts with a balance of Â£1000. The loop should continue to prompt the user
for an amount to withdraw, and after each withdrawal, display the remaining balance. Stop the loop when the balance becomes zero or less.
- Hint: Make sure the loop exits when the balance is depleted, and handle cases where the withdrawal amount is greater than the available balance.
'''

balance=1000
print("Current balance is ", balance)
while balance>=0:
    wAmount=int(input("Enter the amount to withdraw : "))
    if wAmount >balance:
        print("Insufficient balance !")
        break
    else:
        balance=balance-wAmount
        print("Updated balance is : " , balance)
        continue

Current balance is  1000

Enter the amount to withdraw :  2000

Insufficient balance !

In [57]:
#Python lists 

'''list1 = [1,2,3,4,5]
print(list1[-1])
for x in list1:
    print(x,end=" ")
'''

List = [['Geeks', 'For'], ['Geeks']]
print(List[0])   #['Geeks', 'For']
print(List[0][0]) #'Geeks'
print(List[0][1]) #'For'
print(List[1])

['Geeks', 'For']
Geeks
For
['Geeks']

In [81]:
#Accessing the list elements using indices
list1 = [3, 5, 6, 7, 8, 9]
#print(len(list1))
for i in range(0,len(list1)):
    print(i,"->",list1[i])

0 -> 3
1 -> 5
2 -> 6
3 -> 7
4 -> 8
5 -> 9

In [27]:
#List methods
List1 = [1,2,3,4,5,6,7,8,9,1,10,1]
#List1.append(6)   #append methods will add element at the end of list
#List1.insert(0,12) #insert method will insert element at particular index -> list.insert(index,element) -> right shifts the elements
#List2=['green','red','orange']
#List1.extend(List2)  #Adds elements at the end of the list

#Reversing a list
reverse_list = list(reversed(List1))
#print(reverse_list)

#Removing a element from list
'''print('Original List : ',List1)
for i in range(1,4):
    List1.remove(i)
print('After removal',List1)

List1.pop()   #removes the last element from list ->pop(2) : it removes the element at specific index
print('After pop() method the list is ',List1)'''

#index 
print(List1)
#print("Index of element 10 is ",List1.index(10))  #returns the index of the element
#print("Count of element 1 is : ",List1.count(1))   #count returns the count of specific element in that list
#List1.sort()     #sorts the elements in ascending order

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 10, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 10, 1]
[1, 10, 1, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [53]:
#sorted method

list1 = [50,30,20,10,40]
'''list1.sort()
list1.reverse()
print(list1)'''
#a=sorted(list1)   #prints the list in ascending order
#b=sorted(list1,reverse=True) #prints the list in descending order
#print(b)
c=sorted(list1,key=add)
print(c)

[10, 20, 30, 40, 50]

In [65]:
list1 = [50,30,20,10,40]

rSortedList = [x*2 for x in sorted(list1,reverse=True)]
print(rSortedList)

[100, 80, 60, 40, 20]

In [101]:
#Tuples -> Same like lists but they are immutable , you cannot add/remove elements once the tuple is created

#creating a tuple
#tup1 = ()  #Empty tuple
#print(tup1)

#tuple with single element-> always add , while creating a tuple with single value
'''tup1 = ('Man')
print(tup1, type(tup1))

tup1=('Man',)
print(tup1,type(tup1))
'''

t1 = (1,2,3,4,5,6)
t2 = ('Ajay','Amit','Ronak')
t3=(t1,t2)  # creates a nested tuple-> ((1, 2, 3, 4, 5, 6), ('Ajay', 'Amit', 'Ronak'))
t3=t1+t2    #creates a single tuple with all elements -> (1, 2, 3, 4, 5, 6, 'Ajay', 'Amit', 'Ronak')
#print(t3)
#printing length of tuple
#print(len(t3))

#printing each element of tuple in reverse order
for i in range(len(t3)-1,-1,-1):
    print(t3[i],end=" ")

Ronak Amit Ajay 6 5 4 3 2 1

In [127]:
#Dictionary
#dict={}
#print(dict)

#dict={1:"Asu",2:"Ron",3:"Smith",4:"Warner",5:"Pravin"}
#print(dict)

#Using the dictionary constructor
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])
y_dict = dict([("name", "Alice"), ("age", 30), ("city", "New York")])

print(my_dict)

Ford

TypeError: 'dict' object is not callable

In [133]:
my_dict = dict(name="Alice", age=30, city="New York")

print(my_dict)

TypeError: 'dict' object is not callable

In [149]:
#Iterating over the dictionary
mydict = {'name': 'Ajay', 'roll': 1, 'course': 'DS', 'city': 'mumbai', 'color': 'red'}
'''for x in mydict:
    print(x,'->',mydict[x])'''

'''for key,values in mydict.items():
    print(key,' - >',values)
'''

#Nested dictionary
child1={
    "name":"John",
    "age":10
}

child2={
    "name":"Smith",
    "age":7
}

child3={
    "name":"Harry",
    "age":5
}

family = {
    "child1":child1,
    "child2":child2,
    "child3":child3
}

print(family)

{'child1': {'name': 'John', 'age': 10}, 'child2': {'name': 'Smith', 'age': 7}, 'child3': {'name': 'Harry', 'age': 5}}

In [27]:
color = input('Enter lower case ')
color = color.upper()
print(color)

Enter lower case  red

RED

In [33]:
grade = int(input("Enter grade"))

Enter grade 100

In [115]:
n=int(input("Enter number of lines : "))
for i in range (n):
    for j in range (0,i+1):
        print(i+1,end='')
    print()

Enter number of lines :  5

1
22
333
4444
55555

In [117]:
# * pattern
n=int(input("Enter number of lines : "))
for i in range (n+1):
    for j in range (0,i+1):
        print('*',end='')
    print()

Enter number of lines :  5

*
**
***
****
*****
******

In [127]:
'''
1
12
123
1234
12345
'''

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [139]:
'''
  1     
 135    
13579    
'''

Enter n :  5

i= 2 j= 1
i= 2 j= 2
i= 3 j= 1
i= 3 j= 2
i= 3 j= 3
i= 3 j= 4
i= 4 j= 1
i= 4 j= 2
i= 4 j= 3
i= 4 j= 4
i= 4 j= 5
i= 4 j= 6
i= 5 j= 1
i= 5 j= 2
i= 5 j= 3
i= 5 j= 4
i= 5 j= 5
i= 5 j= 6
i= 5 j= 7
i= 5 j= 8

In [153]:
#List
list1 = [1,2,3,4,5]
list1.append(6)
list1.append(7)
print(list1)

#remove the last number  -> pop() method
list1.pop()
print(list1)

#sum of all numbers in the list
sum=0
for x in list1:
    sum+=x
print(sum)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]
21

In [163]:
#tuple
tuple1=('red','orange','blue')
print(tuple1)
for color in tuple1:
    print(color)

#creating a list of tuple - The United States (38.8977, -77.0365), France (48.8566, 2.3522) and Japan (35.682839, 139.759455)
countries = ['The United States','France','Japan']
coordinates = [(38.8977, -77.0365),(48.8566, 2.352),(35.682839, 139.759455)]
print(coordinates)
list(zip(countries,coordinates))

('red', 'orange', 'blue')
red
orange
blue
[(38.8977, -77.0365), (48.8566, 2.352), (35.682839, 139.759455)]

[('The United States', (38.8977, -77.0365)),
 ('France', (48.8566, 2.352)),
 ('Japan', (35.682839, 139.759455))]

In [174]:
#Dictionary
book = {
    "title":"Wings of Fire",
    "author":"Dr Kalam",
    "year":2004
}

print("Original : ",book)
book["year"]=2006
#print("After updating year : ", book)
book["genre"]="autobiography"
for key,value in book.items():
    print(key,' -> ',value)

Original :  {'title': 'Wings of Fire', 'author': 'Dr Kalam', 'year': 2004}
title  ->  Wings of Fire
author  ->  Dr Kalam
year  ->  2006
genre  ->  autobiography